main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h3 {
    display: inline;
}

a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration-style: none;
    text-decoration-line: none;
}

#login-form {
    width: 320px;
    min-width: 320px;
    margin: auto;
}

#login .form-group {
    margin: 20px 0;
}

.form-title label {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.form-sub-title {
    color: rgba(0, 0, 0, 0.7);
}

#find-form .form-group {
    text-align: right;
}

#find-form {
    width: 350px;
}