
.post-wrapper {
    box-sizing: border-box;
    margin: 0 5px;
}

.post {
    background-color: white;
    padding: 20px 10px;
    border: 1px solid darkgray;
    border-radius: 20px;
    box-sizing: inherit;
}

.post-title {
    font-weight: bold;
    font-size: x-large;
}

.post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}
.post-meta span {
    margin-right: 10px;
}

.post-contents {
    min-height: 200px;
}

.files {
    display: none;
    padding: 10px;
    overflow-x: hidden;
    margin: 10px 0;
}
.files * {
    display: none;
}
.files span:hover {
    background-color: grey;
}
.files a:hover {
    color: white;
}

.comment-wrapper {
    width: 100%;
    margin: 10px 0;
}

.comment-wrapper div[class^="col"] {
    padding: 0 5px;
}

.comment-wrapper textarea {
    overflow-y: hidden;
}

.comment .user-id {
    font-weight: bold;
}

.comment {
    margin: 10px 0;
    padding: 10px 5px;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 2px;
}

.comment-time {
    font-size: 0.9rem;
}

.comment-edit {
    float: right;
}

.comment-edit a {
    color: #999;
    font-size: 0.9rem;
    float: left;
}

.comment-edit a:hover {
    text-decoration: underline;
}

.comment-contents textarea {
    resize: none;
    width: 100%;
    background-color: inherit !important;
}

#comments {
    margin: 10px 0;
    padding: 0 10px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .post-title {
        font-size: large;
    }

    .post-meta {
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }

    #edit {
        white-space: nowrap;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}