.form-wrapper {
    padding: 0 10px;
}

#subject {
    width: 100%;
    margin: 10px 0;
}
form textarea {
    display: none;
}

#styles {
    width: 100%;
    margin: 0 0 10px;
}

.BOLD {
    font-weight: bold;
}

.ITALIC {
    font-style: italic;
}

.UNDERBAR {
    text-decoration: underline;
}

.BAR {
    text-decoration: line-through;
}

#contents {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background-color: white;
    overflow-x: initial;
    overflow-y: auto;
}

.file_upload {
    display: flex;
    border: 2px dashed #ccc;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    margin: 15px auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}

.file_upload label {
    font-size: 25px;
    height: 100%;
    width: 100%;
}
/* 
#drop-area {
    display: flex;
    border: 2px dashed #ccc;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    margin: 15px auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
} */

#drop-area.highlight {
    border-color: purple;
}

#upload_cancel {
    text-align: center;
}

#message {
    font-size: 20px;
    text-align: center;
}

#buttons {
    margin: 10px 0;
}

#buttons input {
    width: 100%;
}

@media (max-width: 768px) {
    .form-wrapper {
        padding: 0 5px;
    }
}
