:root {
    --max-height: 750px;
    --frame-height: calc(100vh - 56px);
    --frame-height: 700px;
}

body {
    margin: 0;
    overflow-y: hidden;
}

.chat-log {
    width: 100%;
    height: var(--frame-height);
    border: solid lightgray 1px;
    overflow-y: scroll;
    word-break: break-all;
    margin: 5px 0;
    text-align: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    div[class^="container"] > .row > div[class^="col"] {
        max-height: var(--frame-height);
    }
}

div[class^="container"] > .row > div[class^="col"] {
    height: var(--frame-height);
    overflow-y: auto;
}

#chat-wrapper {
    height: var(--frame-height);
}

#table-wrapper {
    max-height: var(--frame-height);
    height: fit-content;
}

#padding {
    display: none;
}

/* #user_list tbody {
    display: table-row-group;
} */

@media (max-width: 767px) {
    div[class^="container"] {
        padding: 0;
    }

    .row {
        margin: 0;
    }

    div[class^="col"] {
        padding: 0 5px;
    }

    #table-wrapper {
        position: absolute;
        z-index: 1;
        background-color: white;
    }

    #chat-wrapper {
        position: relative;
        z-index: 0;
    }
    
    #padding {
        display: block;
    }
}

.message {
    display: block;
    height: auto;
    padding: 5px 10px;
    text-align: start;
}

.message > span:nth-child(1) {
    font-size: medium;
    font-weight: bold;
    display: block;
}

.message > span:nth-child(2) {
    font-size: medium;
    display: block;
    padding-left: 10px;
}

form {
    width: 100%;
}

.row > div {
    padding: 0;
}

/* table {
    height: 700px;
} */

table > thead > tr > th {
    position: sticky;
    top: 0;
    background-color: #ECECEC;
}

table span {
    display: block;
    float: right;
}

table p {
    display: inline;
}

.system-message {
    background-color: #ECECEC;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
}

.system-message p {
    font-weight: bold;
    display: inline;
}
