.list {
    background-color: #FCFCFC;
    margin: 10px 0 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

table.dataTable.display tbody tr:hover,
table.dataTable.hover tbody tr:hover {
    background-color: #f6f6f6;
}

.top {
    width: 100%;
    margin: 0;
}

thead {
    white-space: nowrap;
}

tbody .tb_title {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.page {
    display: inline-block;
    white-space: nowrap;
}

#tb {
    width: 100%;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    #search > * {
        padding: 0;
    }

    .list {
        padding: 0;
    }

    .top {
        padding: 0 5px 0 5px;
    }

    thead {
        font-size: 0.9rem;
    }

    thead .tb_hits {
        overflow-x: visible;
        width: 20%;
    }

    .tb_date {
        display: none;
    }

    .page {
        width: 100%;
        font-size: 0.8rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    #tb {
        padding: 0;
    }

    tbody .tb_date {
        font-size: 0.85rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}