
.contents{ 
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width:1000px;
}

#write a{
    color: black;
    text-decoration-style: none;
    text-decoration-line: none;
    margin-right: 20px;
    float: right;
}

#search input{
    width: 70%;
}

.contents-body .list {
    background-color: #FCFCFC;
    margin: 10px 0px 20px 0px;
}

#listtb{
    table-layout: fixed;
}

#listtb th, td{
    border-bottom: 1px solid #ddd;
    padding: 5px 5px 5px 5px;
    text-align: left;
}
#listtb th{
    text-align: center;
}

#listtb td{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#listtb tr:hover{
    background-color: #f5f5f5;
}

#index{
    text-align: center;
    margin-top: 30px;
}

#index a, b{
    text-decoration-style: none;
    text-decoration-line: none;
    color: #7A7A7A;
    padding: 0px 10px 0px 10px;
}