main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h3 {
    display: inline;
}

a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration-style: none;
    text-decoration-line: none;
}

#login-form {
    width: 320px;
    min-width: 320px;
    margin: auto;
}

#login .form-group {
    margin: 20px 0;
}
