.view {
    max-width: 960px;
    padding: 0;
}

.post-wrapper{
    box-sizing: border-box;
    margin: 0 5px 0 5px;
}

.post{
    background-color: white;
    padding: 20px 10px 20px 10px;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: inherit;
}
.post-meta{
    margin-bottom: 1.25rem;
    color: #999;
}
.post-meta span{
    margin: 0 5px 0 5px;
}

.post-contents{
    min-height: 400px;
}

.files{
    display: none;
    padding: 10px 10px 10px 10px;
    overflow-x: hidden;
}
.files *{
    display: none;
}
.files span:hover{
    background-color:grey;
}
.files a:hover{
    color: white;
}