
.post-wrapper {
    box-sizing: border-box;
    margin: 0 5px;
}

.post {
    background-color: white;
    padding: 20px 10px;
    border: 1px solid darkgray;
    border-radius: 20px;
    box-sizing: inherit;
}

.post-title {
    font-weight: bold;
    font-size: x-large;
}

.post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}
.post-meta span {
    margin-right: 10px;
}

.post-contents {
    min-height: 200px;
}

.files {
    display: none;
    padding: 10px;
    overflow-x: hidden;
    margin: 10px 0 10px 0;
}
.files * {
    display: none;
}
.files span:hover {
    background-color: grey;
}
.files a:hover {
    color: white;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .post-title {
        font-size: large;
    }

    .post-meta {
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }

    #edit {
        white-space: nowrap;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}
