body{
    background-color:#FAFAFA;
}
.container {
    padding: 100px 0 100px 0;
}
#formbox{
    padding-top: 50px;
}
form{
    min-width: 350px;
}
button{
    width:100%;
}
.valid{
    border-color: #28a745;
}

.form-control.valid:focus{
    border-color: #28a745;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.invalid{
    border-color: #dc3545;
}

.form-control.invalid:focus{
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #28a745;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

/*
border-color: #80bdff;
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
*/