body {
    background-color: #FAFAFA;
}

main {
    padding: 50px 0;
}

.container-xl {
    box-sizing: border-box;
}

.view {
    max-width: 960px;
    padding: 0;
}

#small-menu {
    font-size: 0.95rem;
}

/* sidebar */
.sidebar{
    height: calc(100vh - 56px);
    /* max-width: 240px; */
    background-color: #212529;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sidebar ul{
}

.sidebar ul a{
    color:white;
}

.sidebar ul li:hover{
    color:white;
    font-size: 1.1rem;
}

.sidebar .active {
    font-weight: bold;
    font-size: 1.1rem;
}

/* sidebar button */
.sidebar-m {
    background-color: #212529 !important;
}

.navbar-light {
    transition-delay: 0.4s;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    main {
        padding: 20px 0;
    }
}

/* sidebar */
@media (max-width: 991px) {
    .sidebar {
        height: fit-content;
    }
}