body {
    background-color: #FAFAFA;
}

main {
    padding: 100px 0;
}

.container-xl {
    box-sizing: border-box;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    main {
        padding: 20px 0;
    }
}
