#subject{
    width:100%;
    margin: 10px 0px 10px 0px;
}
form textarea{ display: none;}

#styles{
    width:100%;
    margin: 0px 0px 10px 0px;
}

.BOLD{
    font-weight: bold;
}

.ITALIC{
    font-style: italic;
}

.UNDERBAR{
    text-decoration: underline;
}

.BAR{
    text-decoration: line-through;
}

#contents{
    width:100%;
    height:500px;
    border:1px solid black;
    background-color: white;
    overflow-x: initial;
    overflow-y: auto;
}

#drop-area{
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 90%;
    height: 300px;
    font-family: sans-serif;
    margin: 30px auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#drop-area label{
    font-size: 20px;
    height: 100%;
    width: 100%;
}

#drop-area.highlight {
    border-color: purple;
}

#buttons{
    margin-top: 0px;
}

#buttons input{
    width: 100%;
}

