.main {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    width:1000px;
    padding-bottom: 150px;
}

.header_group{
    padding-top: 25px;
}

#header_menu{
    font-size: 15px;
    float: right;
}

#header_menu a{
    color: black;
    text-decoration-style: none;
    text-decoration-line: none;
}

.contents{ 
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width:700px;
    background-color:#FAFAFA;
    padding: 50px 100px 50px 100px;
    margin-top: 100px;
}

.contents .write a{
    color: black;
    text-decoration-style: none;
    text-decoration-line: none;
    margin-right: 20px;
    float: right;
}

.search input{
    width: 70%;
}

.search{
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.contents-body .list {
    background-color: #FCFCFC;
    margin: 10px 0px 20px 0px;
}

#listtb{
    table-layout: fixed;
}

#listtb th, td{
    border-bottom: 1px solid #ddd;
    padding: 5px 5px 5px 5px;
    text-align: left;
}
#listtb th{
    text-align: center;
}

#listtb td{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#listtb tr:hover{
    background-color: #f5f5f5;
}

.contents-body .index{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.contents-body .index a, b{
    text-decoration-style: none;
    text-decoration-line: none;
    color: #7A7A7A;
    padding: 0px 10px 0px 10px;
}