.main {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    width:1000px;
    padding-bottom: 150px;
}

.header_group{
    padding-top: 25px;
}

#header_menu{
    font-size: 15px;
    float: right;
}

#header_menu a{
    color: black;
    text-decoration-style: none;
    text-decoration-line: none;
}

.home{
    font-size: 20px;
    text-align: right;
    color: gray;
}

.contents{ 
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width:700px;
    background-color:#FAFAFA;
    padding: 50px 100px 50px 100px;
    margin-top: 100px;
}
