.main {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    width:1000px;
    padding-bottom: 150px;
}

.header_group{
    padding-top: 25px;
}

#header_menu{
    font-size: 15px;
    float: right;
}

#header_menu a{
    color: black;
    text-decoration-style: none;
    text-decoration-line: none;
}

.contents{ 
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width:700px;
    background-color:#FAFAFA;
    padding: 50px 100px 50px 100px;
    margin-top: 100px;
}

.form-box{
    position: relative;
    left:10%;
    width: 450px;
    padding: 20px 0px 20px 0px;
    margin-bottom: 10px;
    text-align: center;
}

.form-box input{
    box-sizing: border-box;
    height: 30px;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
    margin: 7px 0px 7px 10px;
}

.form-box label{
    font-size: 16px;
}

.buttons{
    margin: 30px 0px 10px 0px;
}

.buttons *{
    box-sizing: border-box;
    margin: 0px 10px 0px 10px;
    width: 30%;
    height: 30px;
    font-size: 17px;
    background-color: darkgray;
    color: white;
}